body {
    color: #555555;
    margin: 0;
    background: white;
    display: flex;  /* USED TO PUSH FOOTER TO THE BOTTOM */
    flex-direction: column;  /* USED TO PUSH FOOTER TO THE BOTTOM */
    min-height: 100vh;  /* USED TO PUSH FOOTER TO THE BOTTOM */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.7;
}
:root {
    --main-color: #001085;
    --secondary-color: #222222;
}
*, ::after, ::before {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
p {
    font-size: 16px;
    line-height: 1.7;
    margin: 0 0 1em;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 1em;
}
img {
    max-width: 100%;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.unselectable {
    -webkit-user-select: none;
    -ms-user-select: none; 
    user-select: none;
}

/* --------------------------margins and Paddings start-------------------------- */
.mb-0 {
    margin-bottom: 0;
}
.mt-10 {
    margin-top: 10px;
}
.mt-30 {
    margin-top: 30px;
}
.mb-10 {
    margin-bottom: 10px;
}
.pb-0 {
    padding-bottom: 0;
}
.pt-10 {
    padding-top: 10px;
}
.pt-30 {
    padding-top: 30px;
}
.pb-10 {
    padding-bottom: 10px;
}
/* --------------------------margins and Paddings end-------------------------- */


/* --------------------------Buttons start-------------------------- */
button {
    cursor: pointer;
    font-family: 'Roboto', sans-serif;

}
.button {
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    position: relative;
    overflow: hidden;
    letter-spacing: 1px;
    text-transform: capitalize;
    display: inline-block;
    transition: all 300ms ease;
}
.main-btn {
    line-height: 30px;
    padding: 16px 44px;
    background-color: var(--main-color);
    border-radius: 18px 0px 0px 0px;
    border: none;
}
.main-btn::before {
    position: absolute;
    content: '';
    top: 0;
    left: 97%;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.4s;
    background-color: #222222;
}
.main-btn:hover::before {
    left: 0%;
}
.main-btn__text {
    position: relative;
    z-index: 1;
}
.secondary-btn {
    font-weight: 600;
    padding: 12px 24px;
    background: var(--secondary-color);
    border-radius: 15px 0px 0px 0px;
    border-right: 2px solid #001085;
    font-size: 14px;
}
.secondary-btn:hover {
    background: var(--main-color);
}
/* --------------------------Buttons end-------------------------- */

/* --------------------------Dropdown start-------------------------- */
.dropdown__btn {
    color: var(--secondary-color);
    font-weight: 500;
}
.dropdown__list {
    border-radius: 10px;
}
.dropdown__link {
    padding: 6px 18px 6px 10px;
    line-height: 24px;
    font-weight: 500;
    font-size: 15px;
    text-transform: capitalize;
    color: var(--secondary-color);
}
/* --------------------------Dropdown end-------------------------- */

/* --------------------------Titles start-------------------------- */
.main-title {
    font-weight: 700;
    line-height: 1.3em;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    color: var(--secondary-color);
}
.title--styled {
    position: relative;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: max-content;
}
.title--styled-left {
    padding-left: 45px;
}
.title--styled-right {
    padding-right: 45px;
}
/* --------------------------Titles end-------------------------- */

/* --------------------------Seperators start-------------------------- */
.seperator--left {
    position: absolute;
    width: 30px;
    height: 7px;
    left: 0px;
    top: 7px;
}
.seperator--left::before {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    width: 25px;
    height: 2px;
    background-color: #111111;
}
.seperator--left::after {
    position: absolute;
    content: '';
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 2px;
    background-color: #111111;
}
.seperator--right {
    position: absolute;
    width: 30px;
    height: 7px;
    right: 0px;
    top: 7px;
}
.seperator--right::before {
    position: absolute;
    content: '';
    right: 0px;
    top: 0px;
    width: 25px;
    height: 2px;
    background-color: #111111;
}
.seperator--right::after {
    position: absolute;
    content: '';
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 2px;
    background-color: #111111;
}
.seperator--light::before, .seperator--light::after {
    background-color: white;
}
/* --------------------------Seperators end-------------------------- */

/* --------------------------Content start-------------------------- */
.content {
    flex-grow: 1; /* USED TO PUSH FOOTER TO THE BOTTOM */
}
.main-container {
    max-width: 1230px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    padding: 0 45px;
}
.logo {
    display: flex;
}
.logo__img {
    width: 200px;
}
/* --------------------------Content end-------------------------- */

/* --------------------------Header start-------------------------- */
.header__contacts-wrapper {
    border-top: 6px solid var(--secondary-color);
    position: relative;
    border-bottom: 1px solid #dddddd;
}
.header__contacts-wrapper::before {
    background: var(--main-color);
    position: absolute;
    content: '';
    left: 0px;
    width: 35%;
    height: 6px;
    top: -6px;
}
.header__contacts {
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.header__contacts-title {
    margin: 0;
    color: var(--secondary-color);
}
.header__contacts-link {
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 18px;
}
.header__contacts-item--seperator {
    padding: 0 50px;
    border-left: 1px solid rgba(0,0,0,0.10);
    border-right: 1px solid rgba(0,0,0,0.10);
}
/* --------------------------Navbar start---------------------------- */
/* Main Navbar start */
.navbar-container {
    border-bottom: 1px solid #e6e6e6;
    width: 100%;
    background: white;
    z-index: 200;
}
.navbar {
    align-items: center;
}
.aside-toogler {
    cursor: pointer;
    font-size: 30px;
    margin-right: 15px;
}
.navbar__list {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: auto;
    margin-left: auto;
}
.navbar__dropdown-list {
    left: -30px;
}
.navbar__dropdown:hover .navbar__dropdown-list {
    left: 0;
}
.navbar__link, .navbar__dropdown-btn {
    padding-top: 30px;
    padding-bottom: 30px;
    color: var(--secondary-color);
    text-transform: uppercase;
    font-weight: 500;
    line-height: 30px;
    display: block;
    position: relative;
}
.navbar__link::before, .navbar__dropdown-btn::before {
    position: absolute;
    content: '';
    left: 0px;
    bottom: 0px;
    height: 5px;
    right: 0px;
    opacity: 0;
    background-color: var(--main-color);
    transition: all 500ms ease;
    transform: scale(0.5,1);
}
.navbar__link:hover::before, .navbar__dropdown:hover .navbar__dropdown-btn::before {
    opacity: 1;
    transform: scale(1,1);
}
.navbar__dropdown-link::before {
    position: absolute;
    top: -6px;
    left: 8px;
    color: transparent;
    content: '.';
    text-shadow: 0 0 transparent;
    font-size: 2em;
    line-height: 1em;
    transition: text-shadow 0.3s, color 0.3s;
}
.navbar__dropdown-item:hover .navbar__dropdown-link::before {
    opacity: 1;
    color: #000000;
    text-shadow: 8px 0 #001085, -8px 0 #001085;
}
.navbar__dropdown-item:hover .navbar__dropdown-link {
    padding-left: 30px;
}
.search-toogler {
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}
.search-toogler::after {
    position: absolute;
    content: '';
    width: 38px;
    height: 40px;
    transition: all 500ms ease;
    transform: skewX(-10deg);
    background: black;
}
.search-toogler:hover::after {
    transform: skewX(10deg);
}
.search-toogler__icon {
    color: white;
    z-index: 1;
}
/* Main Navbar end */

/* Main Navbar Fixed on scroll start */
.navbar-container--fixed {
    position: fixed;
    z-index: 0;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
    transition: all 500ms ease;
}
.navbar-container--fixed.navbar-container--visible {
    z-index: 999;
    opacity: 1;
    visibility: visible;
    animation-name: fadeInDown; /* declared on components styles.css */
    animation-duration: 500ms;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}
.navbar-container--fixed .logo__img {
    width: 135px;
}
.navbar-container--fixed .navbar__link, .navbar-container--fixed .navbar__dropdown-btn {
    padding-top: 20px;
    padding-bottom: 20px;
}
.navbar-container--fixed .aside-toogler {
    display: none;
}
/* Main Navbar Fixed on scroll end */

/* Home Secondary Navbar start */
.secondary-navbar__list {
    margin-left: 0;
}
.secondary-navbar__link, .secondary-navbar__dropdown-btn {
    padding-top: 15px;
    padding-bottom: 15px;
}
.secondary-navbar__link::before, .secondary-navbar__dropdown-btn::before {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    height: 5px;
    right: 0px;
    opacity: 0;
    background-color: var(--main-color);
    transition: all 500ms ease;
    transform: scale(0.5,1);
}
/* Home Secondary Navbar end */
/* --------------------------Navbar end---------------------------- */
/* --------------------------Header end--------------------------*/


/* --------------------------Footer start-------------------------- */
.footer {
    color: white;
}
.footer__inner {
    display: flex;
    gap: 30px;
    padding-top: 90px;
    padding-bottom: 80px;
}
.footer__inner-item {
    width: calc(25% - 22.5px);
}
.footer__inner-title {
    color: white;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 1.3;
}
.footer__link--iconed {
    display: flex;
    color: white;
    gap: 15px;
    margin-bottom: 12px;
}
.footer__link-icon {
    font-size: 20px;
}
.footer__news {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer__news-item {
    display: flex;
    align-items: flex-start;
    color: white;
}
.footer__news-image {
    height: 90px;
    object-fit: cover;
    width: 80px;
}
.footer__news-desc {
    width: calc(100% - 80px);
    padding-left: 15px;
}
.footer__news-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
}
.footer__news-date {
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
}
.footer__copyright {
    background: black;
    padding: 20px 0px;
    color: white;
    font-size: 16px;
    font-weight: 400;
}
.footer__button {
    padding: 15px 30px;
    margin-top: 15px;
}
.footer__button::before {
    background-color: white;
}
.footer__button:hover .footer__button-text {
    color: var(--main-color);
}
/* --------------------------Footer end-------------------------- */


/* --------------------------Animations start-------------------------- */
.ripple-container {
	position: relative;
	width:60px;
	height: 60px;
	z-index:10;
	text-align: center;
	padding-left:4px;
	display: inline-block;
	line-height:60px;
	border-radius:50%;
	transition: all 900ms ease;
	background-color:white;
}
.ripple, .ripple:before, .ripple:after {
    position: absolute;
    top: 50%;
    left: 50%;
    width:60px;
	height: 60px;
    transform: translate(-50%, -50%);
    border-radius: 50% 50% 50% 50%;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, .6);
    animation: ripple 3s infinite;
}
.ripple:before {
    animation-delay: .9s;
    content: "";
    position: absolute;
}
.ripple:after {
    animation-delay: .6s;
    content: "";
    position: absolute;
}
@keyframes ripple {
    70% {box-shadow: 0 0 0 70px rgba(253, 167, 0, 0);}
    100% {box-shadow: 0 0 0 0 rgba(253, 167, 0, 0);}
}
/* --------------------------Animations end-------------------------- */


/* --------------------------Projects list start-------------------------- */
.projects-page__inner {
    padding-top: 100px;
    padding-bottom: 100px;
    flex-direction: column;
}
.projects-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.projects-list__item {
    width: calc(33% - 20px);
    display: flex;
    flex-direction: column;
}
.project-list__imgage-container {
    height: 350px;
    width: 100%;
    overflow: hidden;
}
.projects-list__image {
    height: 350px;
    width: 100%;
    object-fit: cover;
    transition: 0.3s;
}
.projects-list__item:hover .projects-list__image {
    transform: scale(1.2);
}
.projects-list__link {
    display: flex;
    flex-direction: column;
    position: relative;
	margin-right: 50px;
	margin-top: -60px;
	background-color:#ffffff;
	padding: 28px 30px 28px 30px;
	border-left: 4px solid var(--main-color);
	box-shadow: 0px 0px 15px rgba(0,0,0,0.10);
    flex-grow: 1;
}
.projects-list__group {
    color: #555555;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 8px;
}
.projects-list__title {
	text-transform: uppercase;
    font-size: 19px;
	color: var(--secondary-color);
	font-weight: 700;
	line-height: 1.3em;
    margin-bottom: 0;
}
/* --------------------------Projects list end-------------------------- */

/* --------------------------News list start-------------------------- */
.news-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.news-list__item {
    width: calc(33% - 20px);
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0px 0px 15px rgb(0 0 0 / 10%);
    background: white;
}
.news-list__image-container {
    position: relative;
    background: var(--main-color);
    display: flex;
}
.news-list__image {
    height: 300px;
    width: 100%;
    object-fit: cover;
    transition: 0.3s;
}
.news-list__item:hover .news-list__image {
    opacity: 0.6;
}
.news-list__date {
    position: absolute;
    left: 25px;
    bottom: -15px;
    color: #ffffff;
    font-size: 36px;
    padding: 16px;
    font-weight: 800;
    text-align: center;
    background: var(--main-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
    line-height: 1;
}
.news-list__date-span {
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
}
.news-list__desc {
    position: relative;
    padding: 40px 30px 65px;
    flex-grow: 1;
}
.news-list__title {
    margin-bottom: 0;
    font-weight: 600;
    padding-bottom: 25px;
    border-bottom: 2px solid #dddddd;
    color: var(--secondary-color);
    height: 100%;
    position: relative;
}
.news-list__title::after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: -2px;
    width: 50px;
    height: 4px;
    background: var(--main-color);
}
.news-list__button {
    position: absolute;
    left: 30px;
    bottom: -25px;
}
.news-list__item:hover .news-list__button {
    background: var(--main-color);
}
/* --------------------------News list end-------------------------- */


/* --------------------------Crumbs template start-------------------------- */
.crumbs {
    padding: 127px 0;
    text-align: center;
}
.crumbs__text {
    color: white;
    margin-bottom: 10px;
    font-size: 18px;
}
.crumbs__seperator {
    padding: 0 8px;
    font-size: 16px;
}
.crumbs__link {
    color: white;
    font-size: 18px;
}
.crumbs__title {
    margin: 0;
    color: white;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.5em;
    font-family: 'Montserrat', sans-serif;
}
/* --------------------------Crumbs temlate end-------------------------- */


/* --------------------------Page Template start-------------------------- */
.default-page__main {
    padding-top: 100px;
    padding-bottom: 70px;
    align-items: flex-start;
}
.default-page__main-body {
    width: 58%;
    padding-right: 8%;
}
.default-page__main-title {
    margin-bottom: 10px;
}
.default-page__main-text {
    line-height: 1.8;
}
.default-page__main-text ul {
    list-style: disc;
    padding-left: 30px;
    margin-bottom: 20px;
}
.default-page__main-text h1, .default-page__main-text h2 {
    font-weight: 700;
    line-height: 1.3em;
    text-transform: capitalize;
    color: var(--secondary-color);
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 18px;
    font-size: 36px;
}
.default-page__main-image {
    width: 42%;
    border-radius: 15px;
}
.default-page__additional {
    flex-direction: column;
    padding-bottom: 60px;
}
.default-page__additional-title:empty {
    display: none;
}
.default-page__additional-title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.default-page__additional-body:empty {
    display: none;
}
.default-page__additional-body ul {
    list-style: disc;
    padding-left: 30px;
    margin-bottom: 20px;
}
.default-page__additional-body h1, .default-page__additional-body h2, .default-page__additional-body h3, .default-page__additional-body h4, .default-page__additional-body h1,.default-page__additional-body h5, .default-page__additional-body h6 {
    font-family: 'Montserrat', sans-serif;
}
/* --------------------------Page Template end-------------------------- */


/* --------------------------Pagination start-------------------------- */
.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    margin: 30px 0 0;
    gap: 10px;
    justify-content: center;
}
.page-link {
    position: relative;
    display: block;
    color: black;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #cccccc;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.375rem 0.75rem;
}
.page-item:first-child .page-link {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}
.page-item:not(:first-child) .page-link {
    margin-left: -1px;
}
.page-item.disabled .page-link {
    color: black;
    pointer-events: none;
    background-color: #fff;
    border-color: #cccccc;
}
.page-item.active .page-link {
    background-color: black;
    border-color: black;
    color: white;
}
.page-link:hover {
    z-index: 2;
    background-color: black;
    border-color: black;
    color: white;
}
/* --------------------------Pagination end-------------------------- */