body {
    color: #555555;
    margin: 0;
    background: white;
    display: flex;  /* USED TO PUSH FOOTER TO THE BOTTOM */
    flex-direction: column;  /* USED TO PUSH FOOTER TO THE BOTTOM */
    min-height: 100vh;  /* USED TO PUSH FOOTER TO THE BOTTOM */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.7;
}
:root {
    --main-color: #001085;
    --secondary-color: #222222;
}
*, ::after, ::before {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
p {
    font-size: 16px;
    line-height: 1.7;
    margin: 0 0 1em;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 1em;
}
img {
    max-width: 100%;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.unselectable {
    -webkit-user-select: none;
    -ms-user-select: none; 
    user-select: none;
}
.input-text, .textarea {
    font-size: 15px;
    padding: 8px 22px;
    color: #777777;
    border-radius: 5px;
    border: 1px solid #cccccc;
    transition: all 500ms ease;
    font-family: 'Roboto', sans-serif;
}
.input-text:focus, .textarea:focus {
    border-color: var(--main-color);
    outline: none;
}


/* --------------------------Scroll Top start-------------------------- */
.scroll-top {
    position: fixed;
    right: 1.5%;
    bottom: 1.25%;
    visibility: visible;
    height: 15px;
    cursor: pointer;
    width: 40px;
    padding: 3px 5px;
    font-size: 10px;
    font-weight: bold;
    color: transparent;
    text-align: center;
    z-index: 3;
    outline: 0 !important;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    background-color: #434343;
    text-transform: uppercase;
    border: none;
}
.scroll-top::before {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top: 0;
    top: -20px;
    z-index: 4;
    border-bottom: 20px solid #434343;
}
.scroll-top::after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top: 0;
    bottom: 0;
    z-index: 5;
    border-bottom: 20px solid var(--main-color);
}
.scroll-top:hover, .scroll-top:focus {
    opacity: 1;
    text-decoration: none;
    height: 40px;
    color: #ffffff;
}
/* --------------------------Scroll Top end-------------------------- */


/* --------------------------Margins and Paddings start-------------------------- */
.mb-0 {
    margin-bottom: 0;
}
.mt-10 {
    margin-top: 10px;
}
.mt-30 {
    margin-top: 30px;
}
.mb-10 {
    margin-bottom: 10px;
}
.pb-0 {
    padding-bottom: 0;
}
.pt-10 {
    padding-top: 10px;
}
.pt-30 {
    padding-top: 30px;
}
.pb-10 {
    padding-bottom: 10px;
}
/* --------------------------Margins and Paddings end-------------------------- */


/* --------------------------Buttons start-------------------------- */
button {
    cursor: pointer;
    font-family: 'Roboto', sans-serif;

}
.button {
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    position: relative;
    overflow: hidden;
    letter-spacing: 1px;
    text-transform: capitalize;
    display: inline-block;
    transition: all 300ms ease;
}
.main-btn {
    line-height: 30px;
    padding: 16px 44px;
    background-color: var(--main-color);
    border-radius: 18px 0px 0px 0px;
    border: none;
}
.main-btn::before {
    position: absolute;
    content: '';
    top: 0;
    left: 97%;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.4s;
    background-color: #222222;
}
.main-btn:hover::before {
    left: 0%;
}
.main-btn__text {
    position: relative;
    z-index: 1;
}
.secondary-btn {
    font-weight: 600;
    padding: 12px 24px;
    background: var(--secondary-color);
    border-radius: 15px 0px 0px 0px;
    border-right: 2px solid #001085;
    font-size: 14px;
}
.secondary-btn:hover {
    background: var(--main-color);
}
/* --------------------------Buttons end-------------------------- */

/* --------------------------Dropdown start-------------------------- */
.dropdown__btn {
    color: var(--secondary-color);
    font-weight: 500;
}
.dropdown__list {
    border-radius: 10px;
}
.dropdown__link {
    padding: 6px 18px 6px 10px;
    line-height: 24px;
    font-weight: 500;
    font-size: 15px;
    text-transform: capitalize;
    color: var(--secondary-color);
}
/* --------------------------Dropdown end-------------------------- */

/* --------------------------Titles start-------------------------- */
.main-title {
    font-weight: 700;
    line-height: 1.3em;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    color: var(--secondary-color);
}
.title--styled {
    position: relative;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: max-content;
}
.title--styled-left {
    padding-left: 45px;
}
.title--styled-right {
    padding-right: 45px;
}
/* --------------------------Titles end-------------------------- */

/* --------------------------Seperators start-------------------------- */
.seperator--left {
    position: absolute;
    width: 30px;
    height: 7px;
    left: 0px;
    top: 7px;
}
.seperator--left::before {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    width: 25px;
    height: 2px;
    background-color: #111111;
}
.seperator--left::after {
    position: absolute;
    content: '';
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 2px;
    background-color: #111111;
}
.seperator--right {
    position: absolute;
    width: 30px;
    height: 7px;
    right: 0px;
    top: 7px;
}
.seperator--right::before {
    position: absolute;
    content: '';
    right: 0px;
    top: 0px;
    width: 25px;
    height: 2px;
    background-color: #111111;
}
.seperator--right::after {
    position: absolute;
    content: '';
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 2px;
    background-color: #111111;
}
.seperator--light::before, .seperator--light::after {
    background-color: white;
}
/* --------------------------Seperators end-------------------------- */

/* --------------------------Content start-------------------------- */
.content {
    flex-grow: 1; /* USED TO PUSH FOOTER TO THE BOTTOM */
}
.main-container {
    max-width: 1230px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    padding: 0 45px;
}
.logo {
    display: flex;
}
.logo__img {
    width: 200px;
}
/* --------------------------Content end-------------------------- */

/* --------------------------Header start-------------------------- */
.mobile-logo {
    display: none;
    justify-content: center;
    padding: 10px 15px;
    border-bottom: 1px solid #dddddd;
}
.header__contacts-wrapper {
    border-top: 6px solid var(--secondary-color);
    position: relative;
    border-bottom: 1px solid #dddddd;
    background-image: url(/img/archive/medium/machinery.png);
    background-repeat: no-repeat;
    background-position: calc(100% - 100px) 0px;
    background-size: contain;
}
.header__contacts-wrapper::before {
    background: var(--main-color);
    position: absolute;
    content: '';
    left: 0px;
    width: 35%;
    height: 6px;
    top: -6px;
}
.header__contacts {
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 9%;
}
.header__contacts-title {
    margin: 0;
    color: var(--secondary-color);
}
.header__contacts-link {
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 18px;
}
.header__contacts-item--seperator {
    padding: 0 50px;
    border-left: 1px solid rgba(0,0,0,0.10);
    border-right: 1px solid rgba(0,0,0,0.10);
}
/* --------------------------Navbar start---------------------------- */
/* Main Navbar start */
.navbar-container {
    border-bottom: 1px solid #e6e6e6;
    width: 100%;
    background: white;
    z-index: 200;
}
.navbar {
    align-items: center;
}
.aside-toggler {
    cursor: pointer;
    font-size: 30px;
    margin-right: 30px;
    transform: scaleX(-1.1);
}
.navbar__list {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: auto;
    margin-left: auto;
}
.navbar__dropdown-list {
    left: -30px;
}
.navbar__dropdown:hover .navbar__dropdown-list {
    left: 0;
}
.navbar__link, .navbar__dropdown-btn {
    padding-top: 30px;
    padding-bottom: 30px;
    color: var(--secondary-color);
    text-transform: uppercase;
    font-weight: 500;
    line-height: 30px;
    display: block;
    position: relative;
}
.navbar__link::before, .navbar__dropdown-btn::before {
    position: absolute;
    content: '';
    left: 0px;
    bottom: 0px;
    height: 5px;
    right: 0px;
    opacity: 0;
    background-color: var(--main-color);
    transition: all 500ms ease;
    transform: scale(0.5,1);
}
.navbar__link:hover::before, .navbar__dropdown:hover .navbar__dropdown-btn::before {
    opacity: 1;
    transform: scale(1,1);
}
.navbar__dropdown-link::before {
    position: absolute;
    top: -6px;
    left: 8px;
    color: transparent;
    content: '.';
    text-shadow: 0 0 transparent;
    font-size: 2em;
    line-height: 1em;
    transition: text-shadow 0.3s, color 0.3s;
}
.navbar__dropdown-item:hover .navbar__dropdown-link::before {
    opacity: 1;
    color: #000000;
    text-shadow: 8px 0 #001085, -8px 0 #001085;
}
.navbar__dropdown-item:hover .navbar__dropdown-link {
    padding-left: 30px;
}
.search-toggler {
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}
.search-toggler::after {
    position: absolute;
    content: '';
    width: 38px;
    height: 40px;
    transition: all 500ms ease;
    transform: skewX(-10deg);
    background: black;
}
.search-toggler:hover::after {
    transform: skewX(10deg);
}
.search-toggler__icon {
    color: white;
    z-index: 1;
}
.mobile-menu-toggler {
    margin-left: auto;
    display: none;
    transform: scale(1.1);
    cursor: pointer;
    font-size: 30px;
}
/* Reduced navbar */
.reduced-navbar .logo__img {
    width: 140px;
}
.reduced-navbar .navbar__list {
    gap: 12px;
}
.reduced-navbar .navbar__link, .reduced-navbar .navbar__dropdown-btn {
    font-size: 15px;
}
/* Main Navbar end */

/* Main Navbar Fixed on scroll start */
.navbar-container--fixed {
    position: fixed;
    z-index: 0;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
    transition: all 500ms ease;
}
.navbar-container--fixed.navbar-container--visible {
    z-index: 100;
    opacity: 1;
    visibility: visible;
    animation-name: fadeInDown; /* declared on components styles.css */
    animation-duration: 500ms;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}
.navbar-container--fixed .logo__img {
    width: 135px;
}
.navbar-container--fixed .navbar__link, .navbar-container--fixed .navbar__dropdown-btn {
    padding-top: 20px;
    padding-bottom: 20px;
}
.navbar-container--fixed .aside-toggler {
    display: none;
}
/* Main Navbar Fixed on scroll end */

/* Home Secondary Navbar start */
.secondary-navbar__list {
    margin-left: 0;
    gap: 20px;
}
.secondary-navbar__link, .secondary-navbar__dropdown-btn {
    padding-top: 15px;
    padding-bottom: 15px;
}
.secondary-navbar__link::before, .secondary-navbar__dropdown-btn::before {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    height: 5px;
    right: 0px;
    opacity: 0;
    background-color: var(--main-color);
    transition: all 500ms ease;
    transform: scale(0.5,1);
}
.locale-dropdown .dropdown__btn {
    display: flex;
    align-items: center;
    gap: 6px;
}
.locale-dropdown .dropdown__link {
    display: flex;
    align-items: center;
    gap: 10px;
    border: none;
    background: transparent;
}
/* Home Secondary Navbar end */
/* --------------------------Navbar end---------------------------- */
/* --------------------------Header end--------------------------*/


/* --------------------------Aside start-------------------------- */
.aside__overlay {
    left: 100%;
    top: 0;
    position: fixed;
    z-index: 101;
    height: 100%;
    opacity: 0;
    width: 100%;
    visibility: hidden;
    transition: all .4s ease-in .8s;
    background: black;
}
.aside--visible .aside__overlay {
    opacity: .9;
    visibility: visible;
    transition: all .8s ease-out 0s;
    left: 0;
    cursor: url(/img//archive/cross-out.png), pointer;
}
.aside__widget {
    position: fixed;
    right: -100%;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 360px;
    z-index: 102;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background-color: #272727;
    transition: all 0.5s cubic-bezier(0.9, 0.03, 0, 0.96) 0.2s;
    visibility: hidden;
    opacity: 0; 
    padding: 40px;
}
.aside--visible .aside__widget {
    opacity: 1;
    visibility: visible;
    right: 0;
    transition: all 0.7s cubic-bezier(0.9, 0.03, 0, 0.96) 0.4s;
}
.aside__widget-hide-btn {
    color: #ffffff;
    position: absolute;
    top: 0;
    right: 0;
    padding: 25px;
    font-size: 24px;
    border: none;
    background: transparent;
}
.aside__widget-logo {
    width: 150px;
    margin-bottom: 30px;
}
.aside__widget-title {
    font-size: 20px;
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
.aside__widget-desc {
    font-size: 14px;
    color: rgba(255,255,255,0.90);
    margin-bottom: 40px;
}
.aside__widget-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    font-size: 14px;
}
.aside__widget-list-item {
    display: flex;
    gap: 15px;
}
.aside__widget-icon {
    font-size: 20px;
    padding-top: 2px;
}
/* --------------------------Aside end-------------------------- */


/* --------------------------Mobile menu start-------------------------- */
.mobile-menu__overlay {
    left: 100%;
    top: 0;
    position: fixed;
    z-index: 101;
    height: 100%;
    opacity: 0;
    width: 100%;
    visibility: hidden;
    transition: all .4s ease-in .8s;
    background: black;
}
.mobile-menu--visible .mobile-menu__overlay {
    opacity: .9;
    visibility: visible;
    transition: all .8s ease-out 0s;
    left: 0;
    cursor: url(/img//archive/cross-out.png), pointer;
}
.mobile-menu__nav {
    position: fixed;
    right: -100%;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 75%;
    z-index: 102;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background-color: white;
    transition: all 0.5s cubic-bezier(0.9, 0.03, 0, 0.96) 0.2s;
    visibility: hidden;
    opacity: 0; 
}
.mobile-menu--visible .mobile-menu__nav {
    opacity: 1;
    visibility: visible;
    right: 0;
    transition: all 0.7s cubic-bezier(0.9, 0.03, 0, 0.96) 0.4s;
}
.mobile-menu__hide-btn {
    color: #202020;
    position: absolute;
    top: 0;
    right: 0;
    padding: 25px;
    font-size: 24px;
    border: none;
    background: transparent;
}
.mobile-menu__logo {
    margin: 20px 20px 30px;
    max-width: 190px;
}
.mobile-menu__ul {
    border-top: 1px solid rgba(0,0,0,0.10);
}
.mobile-menu__item {
    padding: 10px 20px;
    font-size: 15px;
    color: #404040;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0,0,0,0.10);
}
.mobile-dropdown__toggler {
    border: none;
    background: transparent;
    padding: 10px 20px;
    font-size: 15px;
    color: #404040;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0,0,0,0.10);
}
.mobile-menu__dropdown-link {
    padding: 10px 20px;
    font-size: 15px;
    color: #404040;
}
.mobile-dropdown__item {
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0,0,0,0.10);
    padding: 10px 20px;
    font-size: 15px;
    color: #404040;
    text-transform: capitalize;
    padding-left: 30px;
}
.mobile-dropdown__item a {
    color: #404040;
}
/* --------------------------Mobile menu end-------------------------- */


/* --------------------------Search Popup start-------------------------- */
.search-popup {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 101;
    transform: scale(0,1);
    transition: all 1500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
    transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
}
.search-popup--visible {
    transform: scale(1,1);
    margin-top: 0;
}
.search-popup__overlay {
    position: absolute;
    left: 0px;
    top: 0%;
    width: 100%;
    height: 100%;
    content: "";
    transform: scale(0,1);
    background-color: rgba(0,0,0,0.85);
    transition: all 900ms ease;
    -moz-transition: all 900ms ease;
    -webkit-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;
}
.search-popup--visible .search-popup__overlay {
    transform: scale(1,1);
}
.search-popup__hide-btn {
    position: absolute;
    left: 0;
    right: 0;
    top: 75%;
    margin: 0 auto;
    margin-top: -200px;
    border-radius: 50%;
    text-align: center;
    background-color: #001085;
    width: 70px;
    cursor: pointer;
    box-shadow: 0 0 10px rgb(0 0 0 / 5%);
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
    border: none;
    border-bottom: 3px solid #ffffff;
    padding: 0;
}
.search-popup--visible .search-popup__hide-btn {
    visibility: visible;
    opacity: 1;
    top: 50%;
    transition-delay: 1500ms;
}
.search-popup__hide-btn-icon {
    position: relative;
    display: block;
    height: 70px;
    width: 70px;
    font-size: 26px;
    line-height: 70px;
    color: #ffffff;
}
.search-popup__form {
    display: flex;
    position: absolute;
    max-width: 700px;
    top: 50%;
    left: 15px;
    right: 15px;
    margin: -35px auto 0;
    transform: scaleX(0);
    transform-origin: center;
    background-color: #111111;
    transition: all 300ms ease;
}
.search-popup--visible .search-popup__form {
    transform: scaleX(1);
    transition-delay: 1200ms;
}
.search-popup__input {
    position: relative;
    display: block;
    font-size: 18px;
    line-height: 50px;
    color: #000000;
    height: 70px;
    width: 100%;
    padding: 10px 30px;
    background-color: #ffffff;
    transition: all 500ms ease;
    font-weight: 500;
    border: none;
    padding-right: 0;
}
.search-popup__input:focus {
    border: none;
    outline: none;
}
.search-popup__form-btn {
    background: white;
    border: none;
    padding: 10px 20px;
}
/* --------------------------Search Popup end-------------------------- */


/* --------------------------Footer start-------------------------- */
.footer {
    color: white;
}
.footer__inner {
    display: flex;
    gap: 30px;
    padding-top: 90px;
    padding-bottom: 80px;
    flex-direction: row-reverse;
}
.footer__inner--home {
    flex-direction: row;
}
.footer__inner-item {
    width: calc(25% - 22.5px);
}
.footer__inner-title {
    color: white;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 1.3;
}
.footer__link--iconed {
    display: flex;
    color: white;
    gap: 15px;
    margin-bottom: 12px;
}
.footer__link-icon {
    font-size: 20px;
}
.footer__news {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer__news-item {
    display: flex;
    align-items: flex-start;
    color: white;
}
.footer__news-image {
    height: 80px;
    object-fit: cover;
    width: 80px;
}
.footer__news-desc {
    width: calc(100% - 80px);
    padding-left: 15px;
}
.footer__news-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
}
.footer__news-date {
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
}
.footer__copyright {
    background: black;
    padding: 20px 0px;
    color: white;
    font-size: 16px;
    font-weight: 400;
}
.footer__button {
    padding: 15px 30px;
    margin-top: 15px;
}
.footer__button::before {
    background-color: white;
}
.footer__button:hover .footer__button-text {
    color: var(--main-color);
}
.footer__inner-about-text {
    color: #ffffff;
    opacity: 0.80;
    line-height: 1.9em;
    font-size: 13.5px;
    margin-top: 30px;
}
/* --------------------------Footer end-------------------------- */


/* --------------------------Animations start-------------------------- */
.ripple-container {
	position: relative;
	width:60px;
	height: 60px;
	z-index:10;
	text-align: center;
	padding-left:4px;
	display: inline-block;
	line-height:60px;
	border-radius:50%;
	transition: all 900ms ease;
	background-color:white;
}
.ripple, .ripple:before, .ripple:after {
    position: absolute;
    top: 50%;
    left: 50%;
    width:60px;
	height: 60px;
    transform: translate(-50%, -50%);
    border-radius: 50% 50% 50% 50%;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, .6);
    animation: ripple 3s infinite;
}
.ripple:before {
    animation-delay: .9s;
    content: "";
    position: absolute;
}
.ripple:after {
    animation-delay: .6s;
    content: "";
    position: absolute;
}
@keyframes ripple {
    70% {box-shadow: 0 0 0 70px rgba(253, 167, 0, 0);}
    100% {box-shadow: 0 0 0 0 rgba(253, 167, 0, 0);}
}
/* --------------------------Animations end-------------------------- */


/* --------------------------Projects start-------------------------- */
.projects-page .pagination {
    margin-top: 46px;
}
.projects-page__inner {
    padding-top: 100px;
    padding-bottom: 100px;
    flex-direction: column;
}
.projects-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.projects-list__item {
    width: calc(33% - 20px);
    display: flex;
    flex-direction: column;
}
.project-list__image-container {
    height: 350px;
    width: 100%;
    overflow: hidden;
}
.projects-list__image {
    height: 350px;
    width: 100%;
    object-fit: cover;
    transition: 0.3s;
}
.projects-list__item:hover .projects-list__image {
    transform: scale(1.2);
}
.projects-list__desc {
    display: flex;
    flex-direction: column;
    position: relative;
	margin-right: 50px;
	margin-top: -60px;
	background-color:#ffffff;
	padding: 28px 30px 28px 30px;
	border-left: 4px solid var(--main-color);
	box-shadow: 0px 0px 15px rgba(0,0,0,0.10);
    flex-grow: 1;
}
.projects-list__group {
    color: #555555;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 8px;
}
.projects-list__title {
	text-transform: uppercase;
    font-size: 19px;
	color: var(--secondary-color);
	font-weight: 700;
	line-height: 1.3em;
    margin-bottom: 0;
}
/* --------------------------Projects end-------------------------- */


/* --------------------------Single Projects start-------------------------- */
.single-project {
    padding-bottom: 40px;
}
.single-project ul {
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
}
.single-project__body p {
    line-height: 1.5;
}
.single-project__inner {
    flex-direction: column;
}
.single-project__image {
    width: 100%;
}
.single-project__title {
    margin: 30px 0;
    font-size: 25px;
    text-align: center;
    line-height: 1.2;
    font-style: italic;
}
.single-project__gallery {
    padding-top: 20px !important;
    padding-bottom: 10px !important;
}
/* --------------------------Single Projects end-------------------------- */

/* --------------------------News start-------------------------- */
.news-page .pagination {
    margin-top: 60px;
}
.news-page__inner {
    padding-top: 100px;
    padding-bottom: 100px;
    flex-direction: column;
}
.news-list {
    display: flex;
    flex-wrap: wrap;
    gap: 80px 30px;
}
.news-list__item {
    width: calc(33% - 20px);
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0px 0px 15px rgb(0 0 0 / 10%);
    background: white;
}
.news-list__image-container {
    position: relative;
    background: var(--main-color);
    display: flex;
}
.news-list__image {
    height: 300px;
    width: 100%;
    object-fit: cover;
    transition: 0.3s;
}
.news-list__item:hover .news-list__image {
    opacity: 0.6;
}
.news-list__date {
    position: absolute;
    left: 25px;
    bottom: -15px;
    color: #ffffff;
    font-size: 36px;
    padding: 16px;
    font-weight: 800;
    text-align: center;
    background: var(--main-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
    line-height: 1;
}
.news-list__date-span {
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
}
.news-list__desc {
    position: relative;
    padding: 40px 30px 65px;
    flex-grow: 1;
}
.news-list__title {
    margin-bottom: 0;
    font-weight: 600;
    padding-bottom: 25px;
    border-bottom: 2px solid #dddddd;
    color: var(--secondary-color);
    height: 100%;
    position: relative;
}
.news-list__title::after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: -2px;
    width: 50px;
    height: 4px;
    background: var(--main-color);
}
.news-list__button {
    position: absolute;
    left: 30px;
    bottom: -25px;
}
.news-list__item:hover .news-list__button {
    background: var(--main-color);
}
/* --------------------------News end-------------------------- */


/* --------------------------Single News start-------------------------- */
.single-news {
    padding-bottom: 40px;
}
.single-news ul {
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
}
.single-news__body p {
    line-height: 1.5;
}
.single-news__inner {
    flex-direction: column;
}
.single-news__image {
    width: 100%;
}
.single-news__title {
    margin: 30px 0;
    font-size: 25px;
    text-align: center;
    line-height: 1.2;
    font-style: italic;
}
.single-news__gallery {
    padding-top: 20px !important;
    padding-bottom: 10px !important;
}
/* --------------------------Single News end-------------------------- */


/* --------------------------Galleries start-------------------------- */
/* Galleries index page start */
.galleries-page__inner {
    padding-top: 100px;
    padding-bottom: 100px;
    flex-direction: column;
}
.galleries-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.galleries-list__item {
    width: calc(33% - 20px);
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0px 0px 15px rgb(0 0 0 / 10%);
    background: white;
}
.galleries-list__image-container {
    position: relative;
    background: var(--main-color);
    display: flex;
}
.galleries-list__image {
    height: 300px;
    width: 100%;
    object-fit: cover;
    transition: 0.3s;
}
.galleries-list__item:hover .galleries-list__image {
    opacity: 0.6;
}
.galleries-list__date {
    position: absolute;
    left: 25px;
    bottom: -15px;
    color: #ffffff;
    font-size: 36px;
    padding: 16px;
    font-weight: 800;
    text-align: center;
    background: var(--main-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
    line-height: 1;
}
.galleries-list__date-span {
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
}
.galleries-list__desc {
    position: relative;
    padding: 40px 30px 65px;
    flex-grow: 1;
}
.galleries-list__title {
    margin-bottom: 0;
    font-weight: 600;
    padding-bottom: 25px;
    border-bottom: 2px solid #dddddd;
    color: var(--secondary-color);
    height: 100%;
    position: relative;
}
.galleries-list__title::after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: -2px;
    width: 50px;
    height: 4px;
    background: var(--main-color);
}
/* Galleries index page end */

/* Single Gallery start */
.gallery {
    display: flex;
    gap: 40px;
    padding-top: 100px;
    padding-bottom: 100px;
    flex-wrap: wrap;
}
.gallery__element {
    display: flex;
    width: calc(25% - 30px);
    cursor: zoom-in;
    flex-direction: column;
}
.gallery__element-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}
.gallery__element-title:empty {
    display: none;
}
.gallery__element-title {
    padding: 20px;
    border-left: 4px solid var(--main-color);
    box-shadow: 0px 0px 15px rgb(0 0 0 / 10%);
    font-size: 18px;
    color: var(--secondary-color);
    font-weight: 700;
    line-height: 1.3em;
    font-family: 'Montserrat', sans-serif;
    margin-right: 40px;
    margin-top: -60px;
    background: white;
    flex-grow: 1;
}
/* Single Gallery end */

/* --------------------------Galleries list end-------------------------- */



/* --------------------------Vacancies list start-------------------------- */
.vacancies-page__inner {
    padding-top: 80px;
    padding-bottom: 80px;
    flex-direction: column;
}
.vacancies-list {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}
.vacancies-list__item {
    width: calc(50% - 30px);
    display: flex;
    flex-direction: column;
}
.vacancies-list__image {
    width: 100%;
    border-radius: 6px;
}

/* Single vacancy page */
.single-vacancy__inner {
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 50px;
}
.single-vacancy__inner p {
    line-height: normal;
}
.single-vacancy__inner ul {
    list-style-type: disc;
    padding-inline-start: 40px;
    margin-block-end: 1em;
}
/* --------------------------Vacancies list end-------------------------- */


/* Share start */
.share-container {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    align-items: center;
}
.share-container__text {
    margin: 0;
    font-weight: bold;
    text-decoration: underline;
    color: var(--main-color);
    font-size: 18px;
}
.ya-share2__list {
    padding-left: 0 !important;
    margin: 0 !important;
}
/* Share утв */


/* --------------------------Crumbs template start-------------------------- */
.crumbs {
    padding: 127px 0;
    text-align: center;
}
.crumbs__text {
    color: white;
    margin-bottom: 10px;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    padding: 0 8%;
}
.crumbs__seperator {
    padding: 0 8px;
    font-size: 16px;
}
.crumbs__link {
    color: white;
    font-size: 18px;
}
.crumbs__title {
    margin: 0;
    color: white;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.5em;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    padding: 0 8%;
}
/* --------------------------Crumbs temlate end-------------------------- */


/* --------------------------Page Template start-------------------------- */
.default-page {
    padding-bottom: 70px;
}
.default-page ul {
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
}
.default-page__main {
    margin-top: 100px;
    align-items: flex-start;
}
.default-page__main-body {
    width: 58%;
    padding-right: 8%;
}
.default-page__main-title {
    margin-bottom: 10px;
    color: var(--main-color);
}
.default-page__main-text {
    line-height: 1.8;
}
.default-page__main-text h1, .default-page__main-text h2 {
    font-weight: 700;
    line-height: 1.3em;
    text-transform: capitalize;
    color: var(--secondary-color);
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 18px;
    font-size: 36px;
}
.default-page__main-image {
    width: 42%;
    border-radius: 15px;
}
.default-page__additional {
    flex-direction: column;
    margin-top: 60px;
}
.default-page__additional-title:empty {
    display: none;
}
.default-page__additional-title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.default-page__additional-body:empty {
    display: none;
}
.default-page__additional-body ul {
    list-style: disc;
    padding-left: 30px;
    margin-bottom: 20px;
}
.default-page__additional-body h1, .default-page__additional-body h2, .default-page__additional-body h3, .default-page__additional-body h4, .default-page__additional-body h1,.default-page__additional-body h5, .default-page__additional-body h6 {
    font-family: 'Montserrat', sans-serif;
}
.default-page__gallery {
    margin-top: 40px;
    padding-top: 0;
    padding-bottom: 0;
}

/* --------------------------Page Template end-------------------------- */


/* --------------------------Pagination start-------------------------- */
.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    margin: 30px 0 0;
    gap: 10px;
    justify-content: center;
}
.page-link {
    position: relative;
    display: block;
    color: black;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #cccccc;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.375rem 0.75rem;
}
.page-item:first-child .page-link {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}
.page-item:first-child .page-link, .page-item:last-child .page-link {
    padding-left: 25px;
    padding-right: 25px;
}
.page-item:not(:first-child) .page-link {
    margin-left: -1px;
}
.page-item.disabled .page-link {
    color: #b5b5b5;
    pointer-events: none;
    border-color: #cccccc;
}
.page-item.active .page-link {
    background-color: black;
    border-color: black;
    color: white;
}
.page-link:hover {
    z-index: 2;
    background-color: black;
    border-color: black;
    color: white;
}
/* --------------------------Pagination end-------------------------- */


/* --------------------------Contacts page start-------------------------- */
.contacts__list {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
}
.contacts__list-item {
    width: 33.3%;
    padding-left: 70px;
}
.contacts__list-title {
    font-size: 22px;
    margin-bottom: 10px;
    color: var(--secondary-color);
}
.contacts__list-text {
    color: #555555;
    font-size: 16px;
    line-height: 1.7em;
    margin: 0;
}
.contacts__list-link {
    display: flex;
    color: #555555;
    width: max-content;
}
.contacts__map {
    width: 100%;
    height: 450px;
}
/* --------------------------Contacts page end-------------------------- */



/* --------------------------Online Booking start-------------------------- */
.online-booking__inner {
    padding-top: 100px;
    padding-bottom: 100px;
}
.online-booking__form {
    padding: 70px;
    margin-top: 100px;
    border-radius: 15px;
    background-color: #ffffff;
    background-position: left bottom;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 15px rgb(0 0 0 / 10%);
    width: 100%;
    position: relative;
}
.online-booking__cap {
    position: absolute;
    left: 0px;
    top: -150px;
    right: 0px;
    display: flex;
    justify-content: center;
}
.online-booking__form-about {
    display: flex;
    padding-top: 15px;
}
.online-booking__form-title {
    width: 50%;
    margin: 0;
    font-size: 24px;
    color: var(--secondary-color);
    line-height: 1.3em;
    font-weight: 700;
    text-transform: uppercase;
}
.online-booking__form-text {
    width: 50%;
    margin: 0;
    padding-left: 15px;
}
.online-booking__form-body {
    display: flex;
    padding-top: 40px;
}
.online-booking__form-left, .online-booking__form-right {
    width: 50%;
    padding: 0 15px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.online-booking__input {
    padding: 18px 22px;
}
.online-booking__button {
    width: max-content;
}
/* --------------------------Online Booking end-------------------------- */


/* --------------------------Search page start-------------------------- */
.search-page__form {
    width: 42%;
    display: flex;
    margin: 0 auto;
    border-radius: 20px;
    overflow: hidden;
}
.search-page__input {
    width: 100%;
    border: none;
}
.search-page__input:focus {
    border: none;
    outline: none;
}
.search-page__form-button {
    border: none;
    padding: 8px 5px 8px 10px;
    background: white;
    display: flex;
}
.search-page__form-icon {
    font-size: 26px;
}
.search-page__crumbs-text {
    font-weight: 300;
    margin-bottom: 25px;
    -webkit-line-clamp: 5;
    font-size: 16px;
}
.search-results {
    padding-top: 70px;
    padding-bottom: 90px;
    flex-direction: column;
}
.search-results__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.search-results__item {
    display: flex;
    box-shadow: 0 5px 10px 0px rgb(46 55 77 / 10%);
}
.search-results__image {
    width: 200px;
    object-fit: cover;
    min-height: 130px;
}
.search-results__text {
    padding: 30px 40px;
}
.search-results__category {
    color: #555555;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.search-results__title {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: var(--main-color);
}
/* --------------------------Search page end-------------------------- */